.example-card {
    width: 300px;
  }
  
  .header-image {
     background-size: cover;
  }

  mat-card {
    float: left;
    max-width: 320px;
    margin: 10px;
  }

  .cardContent {
    width: 100%;
    text-align:center;
  }

  .cardFooter {
    width: 100%;
    bottom: 0;
  }
  mat-card-actions button {
    width: 120px;
  }

mat-form-field
{
    width: 500px;
}