<div class="cardContent" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{property.address}}</h1>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image" [style.background-image]="'url(/assets/img/' + property.pictureName+ '.png)'"></div>
        <mat-card-title>{{property.address}}</mat-card-title>
        <mat-card-subtitle>{{property.city}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/{{property.pictureName}}.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{property.description}}
        </p>
        <hr>
        <b>Price:</b><br />
        <p>
          {{property.price}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-icon-button>
              <mat-icon>bookmarks</mat-icon>
              <span>Add to favourite</span> 
            </button>
           
      </mat-card-actions>
    </mat-card>
      </div>
      <app-footer></app-footer>
